<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="robot_control_robot" params="
        name
        prefix
        parent
        *origin
        " >


    <link name="${prefix}link1">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.2" length="0.5"/>
            </geometry>
        </visual>
    </link>
    <link name="${prefix}link2">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.2" length="0.5"/>
            </geometry>
        </visual>
    </link>
    <link name="${prefix}link3">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.2" length="0.5"/>
            </geometry>
        </visual>
    </link>
    <link name="${prefix}link4">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <cylinder radius="0.2" length="0.5"/>
            </geometry>
        </visual>
    </link>
    <joint name="${prefix}base_joint" type="fixed">
        <xacro:insert_block name="origin" />
        <parent link="${parent}"/>
        <child link="${prefix}link1"/>
    </joint>
    <joint name="${prefix}joint1" type="revolute">
        <parent link="${prefix}link1"/>
        <child link="${prefix}link2"/>
        <origin xyz="0 0 0.5" rpy="0 0 0"/>
        <axis xyz="0 1 0" />
        <limit lower="${-2*pi}" upper="${2*pi}" effort="10.0" velocity="0.5"/>
    </joint>
    <joint name="${prefix}joint2" type="revolute">
        <parent link="${prefix}link2"/>
        <child link="${prefix}link3"/>
        <origin xyz="0 0 0.5" rpy="0 0 0"/>
        <axis xyz="0 1 0" />
        <limit lower="${-2*pi}" upper="${2*pi}" effort="10.0" velocity="0.5"/>
    </joint>
    <joint name="${prefix}joint3" type="fixed">
        <parent link="${prefix}link3"/>
        <child link="${prefix}link4"/>
        <origin xyz="0 0 0.5" rpy="0 0 0"/>
        <axis xyz="0 1 0" />
    </joint>

    </xacro:macro>
</robot>
