<?xml version="1.0"?>
<launch>
  <!--  launch-prefix="gdb -ex run -/-args" -->
  <!-- valgrind -/-tool=helgrind -->
  <arg name="config" />
  <node name="driver" pkg="canopen_motor_node" type="canopen_motor_node" output="screen" clear_params="true" launch-prefix="">
    <rosparam command="load" file="$(find canopen_test_utils)/config/can0.yaml" />
    <rosparam command="load" file="$(arg config)" />
    <remap from="joint_states" to="/joint_states"/>
  </node>
</launch>
