<?xml version="1.0"?>
<launch>

	<!-- start dashboard -->
	<node pkg="cob_dashboard" type="cob_dashboard" name="$(anon dashboard_node)" cwd="node" respawn="false" output="screen" />
	
	<!-- start command_gui -->
	<node ns="command_gui" pkg="cob_command_gui" type="knoeppkes.py" name="$(anon command_gui_node)" cwd="node" respawn="false" output="screen" >
		<!-- upload button parameters, but delete the old ones before -->
		<rosparam command="load" ns="control_buttons" file="$(find canopen_test_utils)/config/command_gui_buttons.yaml"/>
	</node>

</launch>
