<?xml version="1.0"?>
<launch>
    <arg name="name" value="rig12" />
    <arg name="sim" value="true" />

    <include file="$(find canopen_test_utils)/launch/test_setup_robot.xml">
        <arg name="name" value="$(arg name)"/>
        <arg name="sim" value="$(arg sim)"/>
    </include>
    <include file="$(find canopen_test_utils)/launch/test_setup_controller.xml">
        <arg name="name" value="$(arg name)"/>
        <arg name="sim" value="$(arg sim)"/>
    </include>

</launch>
