<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:macro name="torso_transmission" params="name">

    <transmission name="${name}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${name}_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface> <!-- this is for indigo -->
      </joint>
      <actuator name="${name}_motor">
        <mechanicalReduction>1</mechanicalReduction>
        <!--hardwareInterface>EffortJointInterface</hardwareInterface--> <!-- this is for hydro -->
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
