<launch>
  <!--  launch-prefix="gdb -ex run -/-args" -->
  <!-- valgrind -/-tool=helgrind -->
  <node name="plate_controller" pkg="ipa_canopen_motor_control" type="ipa_canopen_motor_control_node" output="screen" clear_params="true" launch-prefix="">
    <rosparam command="load" file="$(find ipa_canopen_test)/config/test.yaml" />
    <rosparam command="load" file="$(find ipa_canopen_test)/config/plate_controller.yaml" />
  </node>
</launch>
