<?xml version="1.0"?>
<launch>
    <arg name="name" value="rig1" />
    <arg name="sim" value="false" />

    <include file="$(find ipa_canopen_test)/launch/test_setup_robot.xml">
        <arg name="name" value="$(arg name)"/>
        <arg name="sim" value="$(arg sim)"/>
    </include>
    <include file="$(find ipa_canopen_test)/launch/test_setup_controller.xml">
        <arg name="name" value="$(arg name)"/>
        <arg name="sim" value="$(arg sim)"/>
    </include>

</launch>
